doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Dewiza.xyz
  meta(name='description' content='Dewiza - projekt pozwalający na szybkie przeliczenie walut lub sprawdzenie ich rankingu.')
  meta(name='author' content='Jakub Jaworski')
  meta(property='og:title' content='Dewiza - Ranking i Przelicznik Walut')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://dewiza.xyz/')
  meta(property='og:description' content='Dewiza - projekt pozwalający na szybkie przeliczenie walut lub sprawdzenie ich rankingu.')
  meta(property='og:image' content='https://cdn.discordapp.com/attachments/702205948877602869/897864601083977818/smallicon.png')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Gluten&display=swap' rel='stylesheet')
  link(rel='icon' href='https://cdn.discordapp.com/attachments/702205948877602869/897864601083977818/smallicon.png')
  link(rel='apple-touch-icon' href='https://cdn.discordapp.com/attachments/702205948877602869/897864601083977818/smallicon.png')
  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  style
    include index.css
body
  h1 Dewiza - projekt pozwalający na szybkie przeliczenie walut lub sprawdzenie ich rankingu.
  h2 Wybierz opcję:
  .container
    #btn1.button
      p Ranking
    #btn2.button
      p Przelicznik
  script
    include script.js

